<h1>
	Employees
</h1>

<%= link_to("Add new Employee", new_employee_path) %>

<ul>
  <% @employees.each do |employee| %>
    <li><b><%= link_to last_name_first(employee), employee %> </b>  </li>
  <% end %>
</ul>

	